<br><br>

<form>
  <div>

    <label form="nom_ep">Nom de l'epreuve: </label>
    <input type="text" name="nom_ep" require value=""><br>
    <label form="description">Description: </label>
    <input type="text"  name="description" require value=""><br>
    <label form="image">Image : </label>
    <input type="file"  name="image" accept="image/png, image/jpeg" /><br>

    <br>

    <a routerLink="/home-component" routerLinkActive="active"> <button type="submit" >Valider</button></a>

    <br><br>

  </div>
</form><br><br>

