<br><br>
<form>

  <div>
   <label form="login">Login : </label>
    <input type="text" [(ngModel)]="loginObj.login" name="logiN" required><br>

    <label form="mot_de_passe">Mot de Passe : </label>
    <input type="text"  [(ngModel)]="loginObj.password" name="password" required><br>

    <!--<a routerLink="/home-component" routerLinkActive="active" class="logo">-->
    <button type="submit" name="submit" (click)="onLogin()">Login</button> <!--</a>-->

    <br><br>
    <div style="text-align: right;">
      <a routerLink="/registration-component" routerLinkActive="active">Nouvelle utilisateur</a>
    </div>

  </div>
</form>
