form {
  margin: 0 auto;
  width: 50px;
  width:21%;
  padding: 20px;
  border: 1px solid #b2c8dc63;
  border-radius: 10px;
  background: #b2c8dc63;
  box-shadow: 0 0 90px 0 #fafafa5d, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
